.calidadcontainer {
    justify-content: center;
    text-align:center; 
    display: inline-block;
    align-items: center;
    width: 100%;
    max-widdth:305px;
    padding-rightp: px;
    padding-leftp: px;
    margin-topp: 20px;
    margin-leftp: 20px;
    box-shadjow: 0px 0px 3px 0px;
    border:1px solid #1e6372; 
    margin:auto;
    border-radius:15px;
    padding-bottom: 0px;
    background-image:url('imagenes/BannerHeaderMural.png');
}

@media screen and (max-width: 1290px) {
    .calidadcontainer {
      max-width: 75%;
    }
}

.logoiso {height:100px;
    display:inline-block;
    float:center;
    text-align: center;
    filter: brightness(0) invert(1);

}

.sectiontitle {
    display:inline-block;
    float:center;
    font-family: NotoSans,sans-serif;
    font-size:25px;
    color:white;
    font-weight:bold;
    line-height:2;
   
}

.calidadenlaces {display:inline-block; padding-left:10px}

a {
    display:float;
    float:center;
    font-family: NotoSans,sans-serif;
    font-size:20px;
    text-align: center;
    color:white;
    width:100%;
    font-weight:bold;
    line-height:2;
    text-indent:30px;
   padding:10px;margin-bottom:100px;
   
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none;color: #f27576}


a:active { text-decoration: none; }

@media screen and (max-width:700px){
        .browsecollectioncontainer {
		width:260px}
        
    }

        .image {
            display:block;
	position: relative;
	width: 850px;
    height:160px;
    border-radius:15px;
    box-shadow: 0px 0px 3px 0px;
    margin:auto; margin-bottom:20px;
    margin-top:20px;
    ;
}
@media screen and (max-width: 1290px) {
    .image {
      max-width: 95%;
    }
}
    @media screen and (max-width:700px){
        .image {width:75%;padding:0px}
        
    }

.image__img {
	display: block;
	width: 100%;
    marginx:0 auto;
    margin-topx:10px;
    margin-bottoxm:10px;
    height:160px;
    border-radius:15px;
    object-fit: cover;
   
}


.image__overlay {
	position: absolute;
    border-radius:15px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-family:NotoSans, sans-serif;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	opacity: 0;
	transition: opacity 0.25s;
}

.image__overlay--blur {
	backdrop-filter: blur(1.5px);
}
@media screen and (max-width:700px){
    .image__overlay--blur{display:nonde}
    
}

.image__overlay--primary {
	background: #009578;
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 1.1em;
	font-weight:bold;
}

@media screen and (max-width:700px){
    .image__title{font-size: 1.1em;
        font-weight:bold;}
    }

.image__description {
	font-size: 1.1em;
	margin-top: 0.5em;
    text-align: center;
}

@media screen and (max-width:700px){
    .image__description{display:none}
    }

